<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Expense Tracker</span>
    <span></span>
    <mat-icon> money</mat-icon>
    <mat-icon class = "userCircle">mood</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>




<mat-card class = "welcomeCard">
  <div class = "headerDiv">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Welcome Back, Arun Kumar!</mat-card-title>
    <mat-card-subtitle>This is your dashboard, Overview of everything</mat-card-subtitle>
    <div class = "statementBtn">
      <button class = "viewsstatmBtn" (click)="openStatement()" mat-button>Statement</button>
     </div>
  </mat-card-header>
</div>

 
</mat-card>
<mat-card class = "budgetCard">

  <h3 style="color: rgb(201, 196, 201);" >Budget </h3>
  <span></span>
  <button class = "addbudgetBtn" (click)="openBudget()" mat-button>Set Monthly Limit</button>
  
  <span class = "creditBar"></span>
  <div  class= "barNames">
  <p>Credit</p>
  <p style="float: right; font-size: 8px;">Rs:{{creditValue}}</p>
</div>
 <mat-progress-bar color = "accent"  mode="determinate" value="60"></mat-progress-bar>
  <span></span>
  <div  class= "barNames">
    <p>Debit</p>
    <p style="float: right; font-size: 8px;">Rs:{{debitValue}}</p>
  </div>
  <mat-progress-bar color = "primary" mode="determinate" value="20"></mat-progress-bar>
  <span></span>
  <div  class= "barNames">
    <p>Monthly Limit</p>
    <span></span>
    <p style="float: right; font-size: 8px;">Rs:50000</p>
  </div>
   <mat-progress-bar color = "warn" mode="determinate" value="40"></mat-progress-bar>
<div class = "creddebBtn">
   <button class = "creditBtn" (click)="openIncome()" mat-button>Income</button>
   <span></span>
  
   <button class = "debitBtn"(click)="openExpense()" mat-button>Expense</button>
  </div>
</mat-card>
<mat-card class = "statusCard">Transactions</mat-card>
<mat-card class = "unknownCard">
  <h3>Budget Status</h3>
</mat-card>
<mat-card class = "lastMonthCard">
  
  <h3>Last Month Result</h3>

  <mat-card class = "totalIncomeCard">Total Income</mat-card>
  <mat-card class = "totalExpanseCard">Total Expense</mat-card>
 
</mat-card>