<div class="mat-elevation-z8">
  <mat-form-field class = "filterPlace"  color = "accent">
    <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <button mat-button (click)= "downloadPDF(content)">Download</button>
  <table mat-table [dataSource]="dataSource" matSort id="content" #content>

    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="catagory">
      <th mat-header-cell *matHeaderCellDef > Catagory </th>
      <td mat-cell *matCellDef="let element"> {{element.catagory}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef > Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef > Description </th>
      <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
    </ng-container>

    

    <ng-container matColumnDef="amount" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
      <p mat-cell  *matCellDef="let element" >
      <td *ngIf="element.type == 'Income'; else elseBlock" style="color: green;"> +{{element.amount}} </td>
   
    <ng-template #elseBlock>
      <td style="color: red;"> -{{element.amount}}</td>
    </ng-template>
  </p>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef > Remove </th>
    <td mat-cell *matCellDef="let element"> <i style="color: rgb(176,37,37);" (click)= "delete(element.id)" class="fa fa-times" aria-hidden="true"></i></td>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: this.displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="this.statementList.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
  
</div>